<template>
  <div class="container">
    <div class="row">
      <form id="logIn-form" class="col s12 offset-l2 l8" @submit.prevent>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input v-model="email" id="email-logIn" type="email" class="validate" required />
            <label for="email-logIn">Email</label>
            <span class="helper-text" data-error="">Insert the e-mail address associated to your account.</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input v-model="password" id="password-logIn" type="password" class="validate" required />
            <label for="password-logIn">Password</label>
            <span class="helper-text" data-error="">Insert your password.</span>
          </div>
        </div>
        <div class="row">
          <button class="btn grey modal-close waves-effect waves-light" v-on:click="resetFields">Cancel</button>&nbsp;
          <button class="btn green waves-effect waves-light" @click="toSignIn()">Log In</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Nav from "@/components/Nav.vue";
import firebase from "firebase";
import { mapActions } from "vuex";

export default {
  name: "AuthSignIn",
  components: {
    Nav
  },
  data: function() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    ...mapActions(["toAuthentication"]),
    resetFields() {
      this.email = "";
      this.password = "";
    },
    toSignIn(e) {
      let resetFunc = this.resetFields;
      let auth = this.toAuthentication;

      firebase.auth()
      .signInWithEmailAndPassword(this.email, this.password)
      .then(function() {
        auth();

        M.Modal.getInstance(document.getElementById("modalSignIn")).close();
      })
      .catch(function (error) {
        if(error.code == "auth/user-not-found") {
          let target = document.getElementById("email-logIn");console.log("NO EXISTE USUARIO");

          target.setCustomValidity("invalid");
          target.nextSibling.nextSibling.setAttribute("data-error", getErrorMessage(target, "There is no user associated to this e-mail address."));
        }
        else if(error.code == "auth/wrong-password") {
          let target = document.getElementById("password-logIn");console.log("CONTRASEÑA EQUIVOCADA");

          target.setCustomValidity("invalid");
          target.nextSibling.nextSibling.setAttribute("data-error", getErrorMessage(target, "Wrong password."));
        }
      });
    }
  },
  mounted: function () {
    let reset = this.resetFields;

    /*let modal = M.Modal.getInstance(document.getElementById("modalSignIn"));
    let options = {
      onCloseEnd: reset
    }

    M.Modal.init(modal, options);
    modal.onOpenStart = this.resetFields;
    modal.onCloseStart = this.resetFields;*/

    let form = document.getElementById("logIn-form");
    
    form.setAttribute('novalidate', true);
    form.addEventListener('blur', function (e) {
      if (!e.target.classList.contains('validate')) return;
      
      e.target.nextSibling.nextSibling.setAttribute("data-error", getErrorMessage(e.target));
      }, true);
  }
};

function getErrorMessage(target, message = "") {
  let validity = target.validity;

  if (validity.valueMissing) {
    return "This field cannot be empty.";
  }

  if (validity.typeMismatch) {
    return "Invalid input.";
  }

  if (validity.customError) { 
    return message;
  }
}
</script>
