<template>
  <div class="container">
    <div class="row">
      <form id="register-form" class="col s12 offset-l2 l8" @submit.prevent>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input v-model="displayName" id="first_name" type="text" minlength="3" maxlength="10" class="validate" required />
            <label for="first_name">Display Name</label>
            <span class="helper-text" data-error="">All users will see this.</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input v-model="email" id="email" type="email" class="validate" required />
            <label for="email">Email</label>
            <span class="helper-text" data-error="">This e-mail address will be linked to your account.</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input v-model="password" id="password" type="password" minlength="6" class="validate" required />
            <label for="password">Password</label>
            <span class="helper-text" data-error="">Must be at least 6 characters long.</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input v-model="confirmPassword" id="confirmPassword" type="password" class="validate" required />
            <label for="confirmPassword">Confirm Password</label>
            <span class="helper-text" data-error="">Reinsert your password.</span>
          </div>
        </div>
        <div class="row">
          <button class="btn grey modal-close waves-effect waves-light" v-on:click="resetFields">Cancel</button>&nbsp;
          <button class="btn green waves-effect waves-light" @click="toCreateUser()">Register</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Nav from "@/components/Nav.vue";
import firebase from "firebase";

export default {
  name: "CreateUser",
  components: {
    Nav
  },
  data: function() {
    return {
      displayName: "",
      email: "",
      password: "",
      confirmPassword: ""
    };
  },
  methods: {
    resetFields() {
      this.displayName = "";
      this.email = "";
      this.password = "";
      this.confirmPassword = "";
    },
    toCreateUser(e) {
      let name = this.displayName;
      let reset = this.resetFields;
      let obj = this;

      firebase.auth()
      .createUserWithEmailAndPassword(this.email, this.password)
      .then(function(user) {
        firebase.auth().currentUser.updateProfile({ displayName: name });
      })
      .then(function() {
        reset();
        obj.$emit("goToSignIn");
      })
      .catch(function(error) {
        if (error.code == "auth/email-already-in-use") {
          let target = document.getElementById("email");

          target.setCustomValidity("invalid");
          target.nextSibling.nextSibling.setAttribute("data-error", getErrorMessage(target, "E-mail already in use."));
        
          M.updateTextFields();
        }
      });
    }
  },
  mounted: function () {
    let reset = this.resetFields;

    /*let modal = M.Modal.getInstance(document.getElementById("modalCreateUser"));
    let options = {
      onCloseEnd: reset
    }

    M.Modal.init(modal, options);
    modal.onOpenStart = this.resetFields;
    modal.onCloseStart = this.resetFields;*/

    let form = document.getElementById("register-form");
    
    form.setAttribute('novalidate', true);

    form.addEventListener('focus', function(e) {
      if (!e.target.classList.contains('validate')) return;
      
      e.target.setCustomValidity("");
    }, true);

    form.addEventListener('blur', function (e) {
      if (!e.target.classList.contains('validate')) return;

      let message = "";
      if (e.target.id == "confirmPassword") {
        let pass1 = document.getElementById("password");

        if (pass1.value != e.target.value) {
          e.target.setCustomValidity("invalid");
          message = "Passwords do not match.";
        }
      }

      if (!e.target.validity.valid) e.target.nextSibling.nextSibling.setAttribute("data-error", getErrorMessage(e.target, message));

      M.updateTextFields();
      }, true);
  }
};

function getErrorMessage(target, message = "") {
  let validity = target.validity;

  if (validity.valid) {
    return "";
  }

  if (validity.valueMissing) {
    return "This field cannot be empty.";
  }

  if (validity.typeMismatch) {
    return "Invalid input.";
  }

  if (validity.tooLong) {
    return "Must be shorter than " + target.getAttribute("maxlength") + " characters.";
  }

  if (validity.tooShort) {
    return "Must be at least " + target.getAttribute("minlength") + " characters long.";
  }
  
  if (validity.customError) {
    return message;
  }
}
</script>

<style>
h4 {
  font-weight: bolder !important;
}

.modal a {
  color: limegreen;
}
</style>