<template>
  <div class="container-fluid">
    <div class="spacer"></div>
    <Filters />
  </div>
</template>

<script>
import Filters from "@/components/Filters.vue";
import SelectStadium from "@/components/SelectStadium.vue";

export default {
  name: "filters",
  components: {
    Filters
  },
  mounted() {
    M.AutoInit();
  }
};
</script>