<template>
  <div>
    <Slideshow />
  </div>
</template>

<script>
import Slideshow from "@/components/Slideshow.vue"
import store from "@/store.js";

export default {
  name: "Home",
  components: {
    Slideshow
  },
  created() {
    store.dispatch("setPage", "Home");
  },
  mounted() {
    M.AutoInit();
    
    let element = document.getElementsByClassName("selected")[0];
    if (element != null) element.classList.remove("selected");

    element = document.getElementById("nav-home");console.log(element);
    element.classList.add("selected");
  }
};
</script>