<template>
  <div>
    <FiltersNav />
    <div class="spacer"></div>
    <div class="spacer-filters"></div>
    <Games />
    <div class="spacer"></div>
  </div>
</template>

<script>
import Games from "@/components/Games.vue";
import FiltersNav from "@/components/FiltersNav.vue";
import store from "@/store.js";

export default {
  name: "schedule",
  components: {
    Games,
    FiltersNav
  },
  created() {
    store.dispatch("setPage", "Schedule");
  },
  mounted() {
    M.AutoInit();

    let element = document.getElementsByClassName("selected")[0];
    if (element != null) element.classList.remove("selected");

    element = document.getElementById("nav-schedule");
    element.classList.add("selected");
  }
};
</script>