<template>
  <div>
    <div class="spacer"></div>
    <Stadiums @openMap="onOpenMap" />
    <div class="spacer"></div>
    <MapModal :stadium="stadium" :address="address" :url="url" />
  </div>
</template>

<script>
import Stadiums from "@/components/Stadiums.vue";
import MapModal from "@/components/MapModal.vue";
import store from "@/store.js";

export default {
  name: "stadiums",
  components: {
    Stadiums,
    MapModal
  },
  data: function() {
    return {
      stadium: "",
      address: "",
      url: ""
    };
  },
  methods: {
    onOpenMap(stadium, address, url) {
      this.stadium = stadium;
      this.address = address;
      this.url = url;

      let element = document.getElementById("modalMap");
      let modal = M.Modal.getInstance(element);

      modal.open();
      element.scrollTop = 0;
    }
  },
  created() {
    store.dispatch("setPage", "Stadiums");
  },
  mounted() {
    M.AutoInit();
    
    let element = document.getElementsByClassName("selected")[0];
    if (element != null) element.classList.remove("selected");

    element = document.getElementById("nav-stadium");
    element.classList.add("selected");
  }
};
</script>