<template>
  <div id="modalChat">
    <div class="spacer"></div>

    <div id="scrolly" class="container">
      
      <div class="center" v-for="game in gameSelected" :key="game.id">
        <div class="col chat-header z-depth-1">
          <button class="btn-floating simple-btn waves-effect waves-light" @click="backHistory()">
            <i class="material-icons">arrow_back</i>
          </button>
          <h5>{{game.t1}} vs {{game.t2}}</h5>
        </div>
        <div class="chat-body z-depth-1">
          <p>🕒 {{game.time}}  -  📅 {{game.day}}/{{game.month}}/2019<br/>📍 {{game.location_name}} Elementary</p>
        </div>
      </div>

      <div class="card-action chat-input z-depth-1" v-show="user">
        <NewMessage :idChat="this.idChat" />
      </div>
      <div class="card-action chat-input notice z-depth-1" v-show="!user">
        <p>Log in to leave a message.</p>
      </div>

      <div id="chat">
        <div id="chatList" class="z-depth-1" v-for="message in messages" :key="message.key">
          <h6 class="z-depth-1">
            <i class="material-icons">person</i>
            {{ message.user }}:
          </h6>
          <div class="message z-depth-1">
            <p>{{ message.message }}</p>
            <span class="right">{{ data(message.date) }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="spacer"></div>
  </div>
</template>

    
<script>
import NewMessage from "@/components/NewMessage.vue";
import firebase from "firebase";
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "ModalChat",
  props: ["idChat"],

  components: {
    NewMessage
  },
  data: function() {
    return {};
  },
  computed: {
    ...mapState(["messages", "user", "games"]),

    gameSelected(state) {
      let gameFiltered = state.games.filter(game => {
        //return game.id == this.idChat;
        return game.id == this.$route.params.id;
      });
      return gameFiltered;
    }
  },
  methods: {
    ...mapActions(["getMessages"]),
    backHistory() {
      this.$router.go(-1);
    },
    scroll() {
      let chatContainer = document.getElementById("chat").parentElement;
      chatContainer.scrollTo(0, 0);
    },
    data(d) {
      let h = new Date(d);
      let options = {
        year: "numeric",
        month: "numeric",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric",
        hour12: false,
        timeZone: "America/Los_Angeles"
      };
      return h.toLocaleString(options);
    }
  },
  mounted: function() {
    M.AutoInit();
    this.getMessages(this.$route.params.id);
    this.scroll();
  },
  updated() {
    this.scroll();
  }
};
</script>

<style>
.chat-header {
  margin: 0;
  margin-top: 5%;
  padding-top: 0.5em;
  padding-right: 0.5em;

  position: relative;

  text-transform: uppercase !important;
  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);

  color: whitesmoke;
  background-image: linear-gradient(to bottom right, yellowgreen, forestgreen);

  border-style: solid;
  border-color: greenyellow;
  border-width: 0;
  border-bottom-width: 0.2em;
}

.chat-header h5 {
  font-size: 1.5em;
  font-weight: bolder;
}

.chat-header button {
  position: absolute;
  left: 0.5em;
}

.chat-body {
  width: 100%;

  margin: 0 !important;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  
  background-image: linear-gradient(to bottom right, rgb(5, 5, 5), rgba(45, 45, 45));

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.chat-body p {
  box-sizing: border-box;

  width: 100%;
  
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;

  font-size: 1.25em;
  text-align: center;
  
  color: whitesmoke;
}

.chat-input {
  position: sticky;
  top: 50pt;
  
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;

  background-image: linear-gradient(to bottom right, white, whitesmoke);

  border-style: solid;
  border-color: yellowgreen;
  border-width: 0;
  border-bottom-width: 0.2em;

  z-index: 1;
}

.notice { 
  padding-top: 0.05em !important;
  
  font-style: italic;
  font-size: 1.25em !important;

  text-align: center;
}

.chat-input input {
  font-style: italic;
  font-size: 1.25em !important;
}

#chatList h6 {
  margin-bottom: 0 !important;
  margin-top: 5%;
  padding: 0.5em;

  font-size: 1.25em;
  font-weight: bold;

  text-align: left;
  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);

  color: whitesmoke;
  background-image: linear-gradient(to bottom right, yellowgreen, forestgreen);

  border-style: solid;
  border-color: yellowgreen;
  border-width: 0;
  border-bottom-width: 0.2em;
}

.message {
  margin: 0 !important;
  padding: 0.5em;
  padding-top: 0.05em!important;
  padding-bottom: 1em;

  position: relative;

  font-size: 1.25em;

  text-align: justify;
  overflow-wrap: break-word;

  background-image: linear-gradient(to bottom right, white, whitesmoke);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  z-index: 0;
}

.message h6 i {
  height: 0.5em !important;
}

.message span {
  position: absolute;
  right: 0.5em;
  bottom: 0.25em;

  opacity: 0.5;
}

#chatList {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
</style>