<template>
  <div>
    <button id="filters-nav" class="modal-trigger z-depth-1" data-target="modal-filters">
      <i class="material-icons left">filter_list</i>
      <span class="left">FILTERS</span>
      <span v-if="gamesFiltered.length>1" class="found right">{{gamesFiltered.length}} matches found&nbsp;</span>
      <span v-if="gamesFiltered.length==1" class="found right">1 match found&nbsp;</span>
      <span v-if="gamesFiltered.length<1" class="found right">0 matches found&nbsp;</span>
    </button>
    <Filters />
  </div>
</template>

<script>
import Filters from "@/components/Filters.vue";
import { mapGetters } from "vuex";

export default {
  name: "FiltersNav",
  components: {
    Filters
  },
    mounted: function() {
    M.AutoInit();
    },
    computed: {
      ...mapGetters(["gamesFiltered"]),
      }

}
</script>

<style>
#filters-nav {
  width: 100vw;
  position: fixed;

  top: 5em;
  padding: 0.25em;

  font-size: 1.45em;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(to bottom right, white, rgb(245, 245, 245));
  background-repeat: no-repeat;

  border-width: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  z-index: 2;
}

.found {
  text-transform: none;
  font-size: .75em;
  font-weight: bold;
  top:50%;
  transform: translateY(25%)
}

#filters-nav i, #filters-nav span {
  color: forestgreen !important;

  opacity: 0.5;
}

@media screen and (orientation: portrait) {
  #filters-nav {
    top: 50pt;
  }

  .spacer-filters {
    height: 25pt;
  }
}

@media screen and (orientation: landscape){
  #filters-nav {
    top: 50pt;
  }

  .spacer-filters {
    height: 25pt;
  }
}
</style>