<template>
  <div id="modal-filters" class="modal">
    <form action class="modal-content">
      <h4>FILTERS</h4>
      <div class="divider"></div>
      <p>Select which filters do you wish to apply.</p>
      <div class="divider"></div>

      <!-- Stadiums selectors -->
      <fieldset class="row">
        <legend>Stadiums</legend>
        <SelectStadium
          v-for="stadium in stadiums"
          v-bind:value="stadium.id"
          :key="stadium.id"
          :stadium="stadium"
        ></SelectStadium>
      </fieldset>

      <div class="divider"></div>

      <!-- Teams selectors -->
      <fieldset class="row">
        <legend>Teams</legend>
        <SelectTeam v-for="team in teams" :value="team" :key="team" :team="team"></SelectTeam>
      </fieldset>

      <div class="divider"></div>

      <!-- Months selectors -->
      <fieldset class="row">
        <legend>Month</legend>
        <SelectMonth
          v-for="month in months"
          v-bind:value="month.value"
          :key="month.value"
          :month="month"
        ></SelectMonth>
      </fieldset>

      <div class="divider"></div>

      <!-- Global selectors -->
      <fieldset class="row center-align">
        <legend>other</legend>
        <div @click="SelectOrClearAll('false')" class="waves-effect waves-light grey btn">Clear</div>&nbsp;
        <div @click="SelectOrClearAll('true')" class="waves-effect waves-light grey btn">Select All </div>
      </fieldset>

      <div class="divider"></div>

      <fieldset class="row center-align">
        <div class="btn grey waves-effect waves-light  modal-close">CANCEL</div>&nbsp;
        <div @click="toSelectFilters" class="btn green waves-effect waves-light modal-close">APPLY</div>
      </fieldset>
    </form>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import SelectStadium from "@/components/SelectStadium.vue";
import SelectTeam from "@/components/SelectTeam.vue";
import SelectMonth from "@/components/SelectMonth.vue";

export default {
  name: "Filters",
  components: {
    SelectStadium,
    SelectTeam,
    SelectMonth
  },
  data: function() {
    return {};
  },
  computed: {
    ...mapState(["stadiums"]),
    ...mapState(["teams"]),
    ...mapState(["months"])
  },
  methods: {
    ...mapMutations(["toSelectFilters"]),
    SelectOrClearAll(bool) {
      let selectors = document.querySelectorAll(".filterSelect");
      selectors.forEach(selector => (selector.dataset.selected = bool));
    }
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>

<style>
#modal-filters {
  text-align: center;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

#modal-filters fieldset {
  box-sizing: border-box;

  margin: 0;
  padding: 5%;

  border-width: 0;
}

fieldset {
  width: 100%;
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

fieldset .box {
  width: 100%;
  position: inherit;
  right: 50%;
  transform: translateX(50%);
}

.filterSelect[data-selected="true"] {
  background-color: limegreen;
  color: beige;
}


.chip .select{
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    margin-left: 8px;
}
.filterSelect[data-selected="true"] .select {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center;
}

</style>
