<template>
  <div class="container">
      <Game 
      @triggerMapModal="openMapModal"
      @triggerChatModal="openChatModal"
      v-for="game in gamesFiltered"
      :key="game.id"
      :data="game"
    />
    <MapModal :stadium="stadium" :address="address" :url="url" />
    <NoGame v-if="gamesFiltered.length<1"></NoGame>
  </div>
</template>

<script>
import Game from "@/components/Game.vue";
import NoGame from "@/components/NoGame.vue";
import MapModal from "@/components/MapModal.vue";
import ChatModal from "@/components/ChatModal.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Games",
  data: function() {
    return {
      stadium: "",
      address: "",
      url: "",
      idChat: ""
    };
  },
  components: {
    Game,
    MapModal,
    ChatModal,
    NoGame
  },
  computed: {
    ...mapGetters(["gamesFiltered"])
  },
  methods: {
    ...mapActions(["getMessages"]),

    openMapModal(stadium, address, url) {
      this.stadium = stadium;
      this.address = address;
      this.url = url;

      let element = document.getElementById("modalMap");
      let modal = M.Modal.getInstance(element);

      modal.open();
      element.scrollTop = 0;
    },
    openChatModal(idChat) {
      this.getMessages(idChat);

      this.idChat = idChat;
    }
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>