<template>
  <div class="game z-depth-1">
    <div class="row game-top z-depth-1">
      <h5 class="left col">{{ getTitle }}</h5>
      <!--<a v-show="checkUser" class="right btn-floating simple-btn" v-on:click="openChat">-->
      <a class="right btn-floating simple-btn" v-on:click="openChat">
        <i class="material-icons">chat_bubble</i>
      </a>
      <a class="right btn-floating simple-btn" v-on:click="openMap">
        <i class="material-icons">location_on</i>
      </a>
    </div>
    <p>🕒 {{ getTime }}  -  📅 {{ getDate }}<br/>📍 {{ data.location_name }} Elementary</p>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: ["data"],
  computed: {
    ...mapState(["stadiums", "statusUser"]),
    getTitle() {
      return this.data.t1 + " VS " + this.data.t2;
    },
    getTime() {
      return (this.data.time).toUpperCase();
    },
    getDate() {
      return (this.data.day + "/" + this.data.month + "/2019").toUpperCase();
    },
    checkUser() {
      return this.statusUser != "Signed Out";
    }
  },
  methods: {
    openChat() {
      let idChat = this.data.id;
     // this.$emit("triggerChatModal", idChat);
      this.$router.push("/ChatModal/" + this.data.id);

    },
    openMap() {
      let location = this.getLocationData();

      this.$emit("triggerMapModal", location.name, location.address, location.url);
    },
    getLocationData() {
      let id = this.data.location;
      let location = this.stadiums.filter(x => x.id == id)[0];
      
      return { name: location.name, address: location.address, url: location.url };
    }
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>

<style>
.game {
  width: 100%;

  margin: 0;
  margin-top: 5%;
  padding: 0 !important;

  position: relative;
  
  background-image: linear-gradient(to bottom right, rgb(5, 5, 5), rgba(45, 45, 45));

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.game-top {
  margin: 0;
  padding-top: 0.5em;
  padding-right: 0.5em;

  background-image: linear-gradient(to bottom right, yellowgreen, forestgreen);

  border-style: solid;
  border-color: greenyellow;
  border-width: 0;
  border-bottom-width: 0.2em;
}

.game-top h5 {
  font-size: 1.5em;
  font-weight: bolder;

  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);

  color: whitesmoke;
}

.game-top a {
  margin-left: 2%;
}

.game p {
  box-sizing: border-box;

  width: 100%;
  
  margin: 0;
  padding-bottom: 5%;

  font-size: 1.25em;
  text-align: center;
  
  color: whitesmoke;
}

p i {
  font-size: 100% !important;
  height: 100% !important;
}
</style>