<template>
  <div id="modalMap" class="modal ignore">
    <div class="modal-content center ignore">
      <h4 class="ignore">{{ stadium }}</h4>
      <div class="divider ignore"></div>
      <p class="ignore">{{ address }}</p>
      <div class="divider ignore"></div>
      <br/>
      <iframe class="z-depth-1 ignore" v-bind:src="url"></iframe>
    </div>
  </div>
</template>

<script>
export default {
  name: "MapModal",
  props: ["stadium", "address", "url"],
  mounted: function() {
    M.AutoInit();

    let obj = this;
    let onClose = (e) => { 
      if (!e.target.classList.contains("ignore")) {
        obj.$emit("mapModalClose");
      }
    };

    this.$emit("sendCloseEvent", onClose);
  }
};

</script>

<style>
.modal-content iframe {
  width: 100%;
  height: 100%;

  border-style: solid;
  border-color: yellowgreen;
  border-width: 0.25em;

  border-radius: 25px;
}
</style>