<template>
  <nav id="main-nav">
    <div class="nav-top row nysl-nav z-depth-1">
      <h5 class="col left title">⚽ NYSL</h5>
      <div class="col right" v-show="!userExists">
        <a class="btn-floating simple-btn pulse" v-on:click="openSignInModal">
          <i class="material-icons">person_add</i>
        </a>
      </div>
      <div class="col right" v-show="userExists">
        <a class="btn-floating simple-btn" v-on:click="signOut">
          <i class="tiny material-icons">close</i>
        </a>
      </div>
      <h5 class="col right username" v-show="userExists">{{ display }}</h5>
    </div>
    <div class="nav-bottom">
      <ul class="row z-depth-1">
        <li>
          <router-link
            to="/"
            class="col nysl-btn waves-effect waves-light"
          >
            <i id="nav-home" class="material-icons selected">home</i>
          </router-link>
        </li>
        <li>
          <router-link
            to="/schedule"
            class="col nysl-btn waves-effect waves-light"
          >
            <i id="nav-schedule" class="material-icons">insert_invitation</i>
          </router-link>
        </li>
        <li>
          <router-link
            to="/stadiums"
            class="col nysl-btn waves-effect waves-light"
          >
            <i id="nav-stadium" class="material-icons">room</i>
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
     
<script>
import { mapState } from "vuex";
import firebase from "firebase";

export default {
  name: "Nav",

  computed: {
    ...mapState(["user", "page"]),
    userExists() {
      return this.user == null ? false : true;
    },
    display() {
      if (this.user !== null) {
        return this.user.displayName;
      }
    }
  },
  methods: {
    onSelectBtn(e) {
      let element = document.getElementsByClassName("selected")[0];
      element.classList.remove("selected");

      e.target.classList.add("selected");
    },
    openSignInModal() {
      document.getElementById("logIn-form").reset();
      M.updateTextFields();

      let element = document.getElementById("modalSignIn");
      let modal = M.Modal.getInstance(element);

      modal.open();
      element.scrollTop = 0;
    },
    signOut() {
      firebase.auth().signOut();
    }
  },
  mounted: function() {
    M.AutoInit();
  }
};
</script>

<style>
nav,
.nav-top,
.nav-bottom {
  z-index: 2 !important;
}

nav h5 {
  font-weight: bolder;

  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);
}

ul li:first-of-type .nysl-btn {
  border-top-left-radius: 50px;
}

ul li:last-of-type .nysl-btn {
  border-top-right-radius: 50px;
}

#main-nav {
  box-sizing: border-box !important;

  position: fixed;

  margin: 0 !important;
  padding: 0 !important;

  background-color: rgba(0, 0, 0, 0);
}

.nav-top {
  width: 100%;

  position: fixed;

  top: 0;
}

.nav-bottom {
  box-sizing: border-box !important;

  width: 100%;

  position: fixed;
  bottom: 0;
  right: -5%;

  margin: 0 !important;
  padding: 5% !important;
  padding-bottom: 0 !important;

  z-index: 0 !important;
}

.nav-bottom ul {
  box-sizing: border-box !important;

  display: flex;
  flex-wrap: nowrap;

  width: 90%;
  height: 100%;

  margin: 0 !important;
  padding: 0 !important;

  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.nav-bottom li {
  width: 33.33%;
  height: 100%;

  margin: 0 !important;
  padding: 0 !important;
}

.nav-bottom li a {
  box-sizing: border-box !important;

  width: 100%;
  height: 100%;

  margin: 0 !important;
  padding: 0 !important;
}

nav i {
  box-sizing: border-box !important;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  margin: 0 !important;
  padding: 0 !important;

  text-align: center;
}

nav .nysl-btn i {
  color: white;
  mix-blend-mode: soft-light;
}

.selected {
  color: color !important;
  mix-blend-mode: normal !important;
}

@media screen and (orientation: portrait) {
  .nav-top {
    height: 50pt;
  }

  .nav-bottom {
    height: 10%;
  }
}

@media screen and (orientation: landscape) {
  .nav-top {
    height: 50pt;
  }

  .nav-bottom {
    height: 20%;
    width: 60%;

    left: 22.5%;
  }
}
</style>