<template>
  <div>
    <form @submit.prevent>
      <input
        type="text"
        v-model="NewMessage"
        @keypress.enter="sendMessage()"
        placeholder="Write a message..."
      />
    </form>
  </div>
</template>

<script>
import firebase from "firebase";
import { mapState } from 'vuex';

export default {
  name: "NewMessage",
      props: ["idChat"],

  data: function() {
    return {
      NewMessage: null
    };
  },
  computed:{
    ...mapState(["user"])
  },

  methods: {
    sendMessage() {
      //let time= new Date();
      //let timeConvert = time.toLocaleString()
console.log(firebase.database.ServerValue.TIMESTAMP)

      firebase
        .database()
        .ref("chat/" + this.$route.params.id)
        .push({
          message: this.NewMessage,
          user: this.user.displayName,
          date: firebase.database.ServerValue.TIMESTAMP
        });
      this.NewMessage = "";
      //console.log(firebase.database.ServerValue.TIMESTAMP);
    }
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>
