<template>
  <div class="game z-depth-1">
    <div class="row game-top z-depth-1">
      <h5 class="center col">OOPS... &#x1F937;</h5>
    </div>
    <div class="card--content">
      <p>We couldn't find anything for this search criteria ...</p>
      <p>Please, select another filter combination.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "NoGame",
};
</script>

<style>
.card--content{
    padding: 0 5%;
}
.game {
  width: 100%;

  margin: 0;
  margin-top: 5%;
  padding: 0 !important;

  position: relative;

  background-image: linear-gradient(
    to bottom right,
    rgb(5, 5, 5),
    rgba(45, 45, 45)
  );

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.game-top {
  margin: 0;
  padding-top: 0.5em;
  padding-right: 0.5em;

  background-image: linear-gradient(to bottom right, yellowgreen, forestgreen);

  border-style: solid;
  border-color: greenyellow;
  border-width: 0;
  border-bottom-width: 0.2em;
}

.game-top h5 {
  font-size: 1.5em;
  font-weight: bolder;

  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);

  color: whitesmoke;
}

.game-top a {
  margin-left: 2%;
}

.game p {
  box-sizing: border-box;

  width: 100%;

  margin: 0;
  padding-bottom: 5%;

  font-size: 1.25em;
  text-align: center;

  color: whitesmoke;
}

p i {
  font-size: 100% !important;
  height: 100% !important;
}
</style>