<template>
  <div>
    <Games />
  </div>
</template>

<script>
import Games from "@/components/Games.vue";
import FiltersNav from "@/components/FiltersNav.vue";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  name: "Schedule",
  components: {
    Games,
    FiltersNav
  },
  computed: {
    ...mapState(["monthSelected", "months", "teamSelected", "teams", "games"]),
    ...mapGetters(["gamesFiltered"])
  },
  methods: {
    // ...mapMutations(["toSelectTeam", "toSelectMonth"]),
    // toFilters() {
    //   this.$router.push("/filters");
    // }
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>
