  <template>
          <div          
           @click='toggleSelected()'
           data-selected="false" 
           :data-id='stadium.id'      
            class="waves-effect filterSelect filterSelect--stadium chip">
            {{stadium.name}}
            <i class="select material-icons">add</i>
          </div>
  </template>
<script>

export default {
  name: "SelectStadium",
  props:["stadium"],
  methods: {
    // Selecciona este componente en particular, consulta el contenido de 'data-selected'
    // y lo alterna de 'true' a 'false' o viceversa, según corresponda.
    toggleSelected:function () {
      let filterBtn=document.querySelector(`.filterSelect--stadium[data-id="${this.stadium.id}"]`);
      let selectedProp=[filterBtn.dataset.selected];
      if (selectedProp=="true") {
        filterBtn.dataset.selected ="false" 
      } else {
        filterBtn.dataset.selected ="true"
      }      
    },
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>