  <template>
          <div           
           @click='toggleSelected()'
           data-selected="false" 
           :data-id='team'      
            class="waves-effect filterSelect filterSelect--team chip offset-s1">
            {{team}}     
            <i class="select material-icons">add</i>  
          </div>
  </template>
<script>

export default {
  name: "SelectTeam",
  props:["team"],
  methods: {
    // Selecciona este componente en particular, consulta el contenido de 'data-selected'
    // y lo alterna de 'true' a 'false' o viceversa, según corresponda.
    toggleSelected:function () {
      let filterBtn=document.querySelector(`.filterSelect--team[data-id="${this.team}"]`);
      let selectedProp=[filterBtn.dataset.selected];
      if (selectedProp=="true") {
        filterBtn.dataset.selected ="false" 
      } else {
        filterBtn.dataset.selected ="true"
      }      
    },
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>