  <template>
          <div           
           @click='toggleSelected()'
           data-selected="false" 
           :data-id='month.value'      
            class="waves-effect filterSelect filterSelect--month chip offset-s1">
            {{month.name}}    
            <i class="select material-icons">add</i>   
          </div>
  </template>
<script>

export default {
  name: "SelectMonth",
  props:["month"],
  methods: {
    // Selecciona este componente en particular, consulta el contenido de 'data-selected'
    // y lo alterna de 'true' a 'false' o viceversa, según corresponda.
    toggleSelected:function () {
      let filterBtn=document.querySelector(`.filterSelect--month[data-id="${this.month.value}"]`);
      let selectedProp=[filterBtn.dataset.selected];
      if (selectedProp=="true") {
        filterBtn.dataset.selected ="false" 
      } else {
        filterBtn.dataset.selected ="true"
      }      
    },
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>