<template>
  <div id="slideshow">
    <div class="slide" v-for="event in recentEvents" :key="event.id">
      <div class="slide-info z-depth-1">
        <h1 class="z-depth-1">{{ getEventTitle(event.id_game) }}</h1>
        <p>🕒 {{ getEventTime(event.id_game) }}  -  📅 {{ getEventDate(event.id_game) }}<br>📍 {{ getLocationName(event.id_location) }}</p>
        <div class="row">
          <button @click="openMapModal(event.id_location)" class="btn-floating simple-btn waves-effect waves-light modal-trigger" data-target="modalMap"><i class="small material-icons">location_on</i></button>
          &nbsp;
          <button @click="openChatModal(event.id_game)" class="btn-floating simple-btn waves-effect waves-light"><i class="small material-icons">chat_bubble</i></button>
        </div>
      </div>
      <img v-bind:src="event.imgURL" />
    </div>
    <div class="slide-btns">
      <ul class="row">
        <li class="col" v-for="event in recentEvents" :key="event.id">
          <i class="material-icons slide-btn btn-unchecked">radio_button_unchecked</i>
          <i class="material-icons slide-btn btn-checked">radio_button_checked</i>
        </li>
      </ul>
    </div>
    <MapModal :stadium="stadium" :address="address" :url="url" @sendCloseEvent="initEvent" @mapModalClose="onResumeSlideshow" />
  </div>
</template>

<script>
import MapModal from "@/components/MapModal.vue"
import ChatModal from "@/components/ChatModal.vue"
import { mapState, mapActions } from "vuex";

export default {
  name: "Slideshow",
  components: {
    MapModal,
    ChatModal
  },
  data: function() {
    return {
      stadium: "",
      address: "",
      url: "",
      chat: "",
      closeEvent: null
    }
  },
  computed: {
    ...mapState(["recentEvents", "statusUser", "stadiums", "games"]),
    checkUser() {
      return this.statusUser != "Signed Out";
    }
  },
  methods: {
    ...mapActions(["getMessages"]),
    getEvent(id) {
      return this.games.filter(x => x.id == id)[0];
    },
    getEventTitle(id) {
      let ev = this.getEvent(id);

      return ev.t1 + " VS " + ev.t2;
    },
    getEventTime(id) {
      let ev = this.getEvent(id);

      return (ev.time).toUpperCase();
    },
    getEventDate(id) {
      let ev = this.getEvent(id);

      return (ev.day + "/" + ev.month + "/2019").toUpperCase();
    },
    getLocation(id) {
      return this.stadiums.filter(x => x.id == id)[0];
    },
    getLocationName(id) {
      return this.getLocation(id).name;
    },
    openModal() {
      let element = document.getElementById("modalMap").parentElement;
      element.addEventListener("click", this.closeEvent, true);
    },
    closeModal() {
      let element = document.getElementById("modalMap").parentElement;
      element.removeEventListener("click", this.closeEvent, true);
    },
    openMapModal(id) {
      this.openModal();

      pauseSlideshow();

      let location = this.getLocation(id);

      this.stadium = location.name;
      this.address = location.address;
      this.url = location.url;
    },
    openChatModal(id) {
      this.openModal();
      //this.getMessages(id);

      this.chat = id;
      this.$router.push("/ChatModal/" + id);
    },
    onResumeSlideshow() {
      this.closeModal();
      resumeSlideshow();
    },
    initEvent(event) {
      this.closeEvent = event;
    }
  },
  mounted() {
    InitSlideshow();

    M.AutoInit();
    
  },
  beforeDestroy() {
    ClearTimeout();
  }
};

let curr = 0;
let next = 1;
let speed = 3000;
let slides = [];
let btnsChecked = [];
let id;

function InitSlideshow() {
  slides = document.getElementsByClassName("slide");
  btnsChecked = document.getElementsByClassName("btn-checked");

  for (let i = 0; i < slides.length; i++) {
    slides[i].style.opacity = 0.0;
    btnsChecked[i].style.opacity = 0.0;
  }
  slides[curr].style.opacity = 1.0;
  btnsChecked[curr].style.opacity = 1.0;

  id = setTimeout(TriggerTransition, speed);
}

function TriggerTransition() {
  FadeOut();
  FadeIn();
}

function FadeOut() {
  let e = slides[curr];
  e.style.opacity = parseFloat(e.style.opacity) - 0.1;

  let b = btnsChecked[curr];
  b.style.opacity = parseFloat(b.style.opacity) - 0.1;

  if (e.style.opacity < 0.0) {
    e.style.opacity = 0.0;
    e.style.opacity = parseFloat(e.style.opacity) - 0.1;

    b.style.opacity = 0.0;
    b.style.opacity = parseFloat(b.style.opacity) - 0.1;
  }
}

function FadeIn() {
  let e = slides[next];
  e.style.opacity = parseFloat(e.style.opacity) + 0.1;

  let b = btnsChecked[next];
  b.style.opacity = parseFloat(b.style.opacity) + 0.1;

  if (e.style.opacity > 1.0) {
    e.style.opacity = 1.0;

    b.style.opacity = 1.0;
    ChangeSlide();
  } else {
    ClearTimeout();
    id = setTimeout(TriggerTransition, 50);
  }
}

function ChangeSlide() {
  curr = next;
  next = (next + 1) % slides.length;

  ClearTimeout();
  id = setTimeout(TriggerTransition, speed);
}

function ClearTimeout() {
  clearTimeout(id);
}

function pauseSlideshow() {
  ClearTimeout();

  let e = slides[curr];
  e.style.opacity = 1;

  let b = btnsChecked[next];
  b.style.opacity = 0;
}

function resumeSlideshow() {
  id = setTimeout(TriggerTransition, speed / 2);
}
</script>

<style>
#slideshow {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden !important;
  overflow-y: hidden;
}

#slideshow img {
  filter: blur(5px) saturate(115%);
}

.slide img {
  height: 100vmax;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  overflow: hidden !important;
}

.slide-info {
  box-sizing: border-box;

  position: absolute;
  top: 50vh;
  transform: translateY(-50%);

  margin: 0;
  padding: 0;

  text-align: center;

  color: white;
  background-image: linear-gradient(to bottom right, rgb(5, 5, 5), rgba(45, 45, 45));
  /*background-color: rgba(155, 155, 155, 0.5) !important;*/

  border-radius: 25px;

  z-index: 1;
}

.slide-info h1 {
  margin: 0;
  padding: 0.5em;

  font-size: 1.5em;
  font-weight: bolder;

  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);

  color: whitesmoke;

  background-image: linear-gradient(to bottom right, yellowgreen, forestgreen);

  border-style: solid;
  border-color: greenyellow;
  border-width: 0;
  border-bottom-width: 0.15em;
}

.slide-info p {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.25em;
}

.slide-info a i {
  font-size: 2.5em;
  font-weight: bolder;
}

.small {
  box-sizing: border-box;

  font-size: 2em !important;
}

.slide-info a {
  margin: 0;
  margin-bottom: 0.5em;
}

.slide-btns {
  width: 100vw;

  position: absolute;
  
  text-align: center;

  z-index: 1;
}

.btn-unchecked {
  font-size: 1.5em;

  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);

  color: white;
  opacity: 0.25;
  mix-blend-mode: screen;
}

.btn-checked {
  font-size: 1.5em;

  color: rgba(255, 255, 255, 0.5);
  mix-blend-mode: screen;
}

.btn-unchecked, .btn-checked {
  position: absolute;
}

@media screen and (orientation: portrait) {
  .slide-info {
    min-width: 70vw;
    max-width: 10vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slide-btns {
    top: 70vh;
    left: 16.665%;
  }

  .slide-btns li {
    width: 20%;
  }
}

@media screen and (orientation: landscape){
  .slide-info {
    width: 50vw;

    left: 25vw;
  }
  
  .slide-btns {
    top: 75vh;
    left: 33.33%;
  }

  .slide-btns li {
    width: 10%;
  }
}
</style>