<template>
  <div class="container">
    <div v-for="stadium in stadiums" v-bind:key="stadium.id" class="stadium z-depth-1" :id="stadium.id">
      <h5 class="z-depth-1">{{ stadium.name }}</h5>
      <img v-bind:src="stadium.image">
      <p>{{ stadium.address }}</p>
      <a class="btn-floating simple-btn" @click="triggerMapModal(stadium)"><i class="material-icons">location_on</i></a>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Stadiums",
  data: function() {
    return {
      mapAddress: ""
    };
  },
  computed: {
    ...mapState(["stadiums"])
  },
  methods: {
    triggerMapModal(stadium) {
      this.$emit("openMap", stadium.name, stadium.address, stadium.url);
    },
  },
    mounted: function() {
    M.AutoInit();
    }
};
</script>

<style>
.stadium {
  width: 100%;

  margin: 0;
  margin-top: 5%;
  padding: 0 !important;

  position: relative;
  
  background-image: linear-gradient(to bottom right, rgb(5, 5, 5), rgba(45, 45, 45));

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.stadium img {
  width: 100%;
  height: 125px;

  margin: 0 !important;
  padding: 0 !important;

  object-fit: cover;
  object-position: center;

  filter: blur(2px) saturate(105%);
}

.stadium h5 {
  margin: 0;
  padding: 0.5em;

  font-size: 1.5em;
  font-weight: bolder;

  text-shadow: 0em 0.05em 0.15em rgba(0, 0, 0, 0.5);

  color: whitesmoke;

  background-image: linear-gradient(to bottom right, yellowgreen, forestgreen);

  border-style: solid;
  border-color: greenyellow;
  border-width: 0;
  border-bottom-width: 0.15em;
}

.stadium .simple-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.stadium p {
  box-sizing: border-box;

  width: 100%;

  margin: 0;
  padding: 2.5%;

  font-size: 1.25em;
  text-align: center;

  color: whitesmoke;

  background-image: linear-gradient(to top right, rgb(5, 5, 5), rgba(45, 45, 45));

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
</style>