<template>
  <div class="nysl-background">
    <router-view />
    <Nav />

    <div id="modalSignIn" class="modal">
      <div class="modal-content center">
        <h4>LOG IN</h4>
        <div class="divider"></div>
        <p>We are glad to see you back!</p>
        <div class="divider"></div>
        <AuthSignIn />
        <div class="divider"></div>
        <p>
          Don't have an account?
          <a v-on:click="openRegisterModal">REGISTER</a>
        </p>
      </div>
    </div>

    <div id="modalCreateUser" class="modal">
      <div class="modal-content center">
        <h4>REGISTER</h4>
        <div class="divider"></div>
        <p>Please fill in the fields below to process your new account.</p>
        <div class="divider"></div>
        <AuthCreateUser @goToSignIn="openLogInModal" />
        <div class="divider"></div>
        <p>
          Already have an account?
          <a v-on:click="openLogInModal">LOG IN</a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "@/components/Nav.vue";
import AuthSignIn from "@/views/AuthSignIn.vue";
import AuthCreateUser from "@/views/AuthCreateUser.vue";
import {mapActions} from "vuex"

export default {
  name: "app",
  components: {
    AuthSignIn,
    AuthCreateUser,
    Nav
  },
  methods: {
    ...mapActions(["toAuthentication"]),

    openModal(idCurrent, idNext) {
      M.Modal.getInstance(document.getElementById(idCurrent)).close();

      var element = document.getElementById(idNext);

      M.Modal.getInstance(element).open();
      element.scrollTop = 0;
    },
    openRegisterModal() {
      this.openModal("modalSignIn", "modalCreateUser");
    },
    openLogInModal() {
      this.openModal("modalCreateUser", "modalSignIn");
    }
  },
  mounted: function() {
     this.toAuthentication()
}
  }

</script>

<style>
.nysl-background {
  background-color: grey;
  background-image: linear-gradient(to bottom, lightgrey, grey);
  background-repeat: no-repeat;
}

.modal {
  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(to bottom, white, rgb(245, 245, 245)) !important;
  background-repeat: no-repeat;

  border-radius: 25px !important;
}

.nysl-nav {
  background-image: linear-gradient(to bottom right, yellowgreen, forestgreen);

  border-style: solid;
  border-color: greenyellow;
  border-width: 0;
  border-bottom-width: 0.25em;
}

.nysl-btn {
  background-image: linear-gradient(
    to top right,
    rgb(5, 5, 5),
    rgba(45, 45, 45)
  );

  border-style: solid;
  border-color: rgb(45, 45, 45);
  border-width: 0.15em;
  border-top-width: 0.25em;
  border-bottom-width: 0em;
}

.simple-btn {
  background-color: whitesmoke !important;
}

.simple-btn i {
  color: forestgreen !important;

  opacity: 0.5;
}

.spacer {
  width: 100vw;
}

@media screen and (orientation: portrait) {
  .spacer {
    height: 50pt;
  }
}

@media screen and (orientation: landscape) {
  .spacer {
    height: 50pt;
  }
}
</style>